body {
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
}

input {
    border: 0;
    margin: 0;
    padding: 0;
}

#amount-inputs {
    position: absolute;
    top: 250px;
    right: 21px;
}

#amount-inputs > div {
    width: 150px;
    margin-bottom:0px;
    text-align: right;
}

#amount-inputs > div > input {
    text-align: right;
    background-color: transparent;
    height: 20px;
}