<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML ng-app="mdDocApp" class="ng-scope">

<HEAD>
    <base href="http://0.0.0.0:4000/">
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META http-equiv="X-UA-Compatible" content="IE=8">
    <TITLE>Federal LOCCS Form</TITLE>

    <link rel="stylesheet" type="text/css" href="css/loccs.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>

</HEAD>

<BODY ng-controller="DataCtrl" class="ng-scope" style="width:670px;">

    <img src="loccs-form.jpg" style="width:670px;" />

    <div id="amount-inputs">

        <div>
            <input type="text" ng-model="params.acquisition" currency />
        </div>

        <div>
            <input type="text" ng-model="params.rehabilitation" currency />
        </div>

        <div>
            <input type="text" ng-model="params.new_construction" currency />
        </div>

        <div>
            <input type="text" ng-model="params.substantial_rehabilitation" currency />
        </div>

        <div>
            <input type="text" ng-model="params.moderate_rehabilitation" currency />
        </div>

        <div>
            <input type="text" ng-model="params.operations" currency />
        </div>

        <div>
            <input type="text" ng-model="params.rental_assistance" currency />
        </div>

        <div>
            <input type="text" ng-model="params.supportive_services" currency />
        </div>

        <div>
            <input type="text" ng-model="params.hmis" currency />
        </div>

        <div>
            <input type="text" ng-model="params.administrative_cost" currency />
        </div>

        <div>
            <input type="text" ng-model="params.coc_planning_cost" currency />
        </div>

        <div>
            <input type="text" ng-model="params.child_care" currency />
        </div>

        <div>
            <input type="text" ng-model="params.employment_assistance" currency />
        </div>

        <div>
            <input type="text" ng-model="params.relocation" currency />
        </div>

        <div>
            <input type="text" ng-model="params.leasing" currency />
        </div>

        <div>
            <input type="text" ng-model="params.repair_and_maintenance" currency />
        </div>

        <div>
            <input type="text" ng-model="params.prevention" currency />
        </div>

        <div>
            <input type="text" ng-model="params.capacity_building" currency />
        </div>

        <div>
            <input type="text" ng-model="params.other" currency />
        </div>

        <div>
            <input type="text" ng-model="params.voucher_total" style="height:16px;font-weight:bold;" currency />
        </div>

    </div>

</BODY>

</HTML>